# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv_old/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# Streamlit local storage
.streamlit/

# OS files
.DS_Store
Thumbs.db
